<!-- <section> -->
<h3>Add attendee</h3>
  <form>
    <div class="new-name">
      <input type="text" class="form-control" id="inlineFormInputName" placeholder="New Attendee Name">
    </div>
    <div class="new-email">
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Email">
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="autoSizingCheck2">
        <label class="form-check-label" for="autoSizingCheck2">
          Remember me
        </label>
    </div>

      <div class="add-button">
        <button type="submit">Add</button>
      </div>
  </form>
<!-- </section> -->
