

<body>
<!-- partial:index.partial.html -->
<div id="app" v-cloak>
    <div class="url-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-control wizard-form-control" id="url-copybtn">
                  <%- myURL %>

            <span class="btn btn-dark text-white copy-btn ml-auto" @click.stop.prevent="copyTestingCode">
              <i class="fa fa-copy" aria-hidden="true"></i>
            </span>
                    <input type="hidden" id="testing-code" value="localhost:8080/events/<%- myURL %>">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->
  <script src='https://unpkg.com/vue@2.3.2/dist/vue.js'></script>
<script src='https://unpkg.com/prismjs@1.6.0/prism.js'></script>
<script  src="/scripts/script.js"></script>

</body>
</html>
