
    <!-- Nav bar -->
  <nav>
    <a  href="/"><img class="logo" src="/images/planit-logo-med.png"></a>
    <form action="/new-event" method="GET">
      <div>
        <button type="submit" class="btn btn-outline-light">Create Plan·It</button>
      </div>
    </form>
  </nav>
