    <header>
    <!-- Nav bar -->
    <nav>
      <span class="logo">Schoodle</span>
      <!-- <div>
        <button type="button" class="btn btn-outline-warning">Create Schoodle</button>
      </div> -->
    </nav>
  </header>
