    <header>
    <!-- Nav bar -->
    <nav>
      <a href="/" class="logo">Schoodle</a href="/">
    </nav>


    
<!--     
    <nav>
      <form action="/home" method="POST">
      <button class="logo">Schoodle</button>
    </form> -->
    <!-- <form action="/new-event" method="POST">
    <div>
        <button type="submit" class="btn btn-outline-warning">Create Schoodle</button>
      </div>
    </form> -->
    </nav>
  </header>
