
    <!-- Nav bar -->
  <nav>
    <a href="/" class="logo"><img src="/images/planit-logo-med.png"></a>
    <form action="/new-event" method="GET">
      <div>
        <button class="nav-button" type="submit">Create Skoodle</button>
      </div>
    </form>
  </nav>
