
    <!-- Nav bar -->
  <nav>
    <a href="/" class="logo">Skoodle</a href="/">
    <form action="/new-event" method="GET">
      <div>
        <button class="nav-button" type="submit">Create Skoodle</button>
      </div>
    </form>
  </nav>
