
  <div class="options-container">
    <div class="option">
      <h4 class="option-title">OPTION 1</h4>
      <p class="option-date">Nov 7th 5 pm</p>
      <div class="arrow">&#x25BD;</div>
      <p class="option-date">Nov 7th 10pm</p>
    </div>
  </div>
  <button id="button">
    Send
  </button>
