<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- DATE PICKER -->

    <title>Dates</title>
  </head>

  <body>
    <header>
      <%- include("partials/_header") %>
    </header>

    <section class="dates-title">
      <h3>
        Step 2
      </h3>
      <h1>
        Input date and times:
      </h1>
    </section>
    <section id="dates-options">
    <section class="options" id="options-container">
       <%- include("partials/_options_container") %>
    </section>

    <form action="add-new-date-to-options" method="POST" id="dates-form">
    <section class="start-calendars">
      <p>start</p>
      <h3>Select the optional date for your plan:</h3>
      <input class="start-date" type="date"name="start-date">
      <h3>Select the optional time for your plan:</h3>
      <input class="start-time" type="time" name="start-time">
      <h3>Click on add option to add it to your plan:</h3>
      <input type="submit" value="Add Option" id="button">
    </section>
    
    <section class="end-calendars">
      <p>end</p>
      <h3>Select the optional date for your plan:</h3>
      <input class="end-date" type="date"name="end-date">
      <h3>Select the optional time for your plan:</h3>
      <input class="end-time" type="time" name="end-time">
      <h3>Click on add option to add it to your plan:</h3>
      <input type="submit" value="Add Option" id="button">
    </section>
  </form>

  </body>
</html>
