<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- DATE PICKER -->

    <title>Dates</title>
  </head>

  <body>
    <header>
      <%- include("partials/_header") %>
    </header>

    <section class="dates-title">
      <h3>
        Step 2
      </h3>
      <h1>
        Input date and times:
      </h1>
    </section>
    <section id="events-and-options">
    <section class="options-with-button" id="options-container">
      <div class="options-container">
       <%- include("partials/_options_container") %>
        </div>
       <button id="button" class="add-date-button">
        Send
      </button>
    </section>

    <section>
      <form action="add-start-date-to-options" method="POST" id="dates-form">
        <section class="start-calendars">
          <h5>Select the start date for your plan:</h5>
          <input class="start-date" type="date"name="startDate">
          <h5>Select the start time for your plan:</h5>
          <input class="start-time" type="time" name="startTime">
          <h5>Click on add option to add it to your plan:</h5>
          <input type="submit" value="Add Option" class="start-date-button" id="start-date-button">
        </section>
      </form>

      <form action="add-end-date-to-options" method="POST" id="dates-form">
        <section class="end-calendars">
          <h5>Select the end date for your plan:</h5>
          <input class="end-date" type="date"name="endDate">
          <h5>Select the end time for your plan:</h5>
          <input class="end-time" type="time" name="endTime">
          <h5>Click on add option to add it to your plan:</h5>
          <input type="submit" value="Add Option" class="end-date-button" id="end-date-button">
        </section>
      </form>
    </section>
  </section>
  </body>
</html>
