<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- DATE PICKER -->

      <title>Dates</title>
  </head>

  <body>
    <header>
      <%- include("partials/_header") %>
    </header>

    <section class="dates-title">
      <h3>
        Step 2
      </h3>
      <h1>
        Input date and times:
      </h1>
    </section>

    <section>
      <%- include("partials/_options_container") %>
    </section>

    <section class="start-calendars">
      <p>start</p>
      <input class="start-date" type="date">
      <input class="start-time" type="time">
    </section>

  <section class="end-calendars">
    <p>end</p>
    <input class="end-date" type="date">
    <input class="end-time" type="time">
  </section>

  </body>
</html>
