<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>Home Page</title>
  </head>

  <body>
    <header>
      <%- include("partials/_header") %>
    </header>
    <!-- event url -->
<section class="events-url">
    <h1>
      New Event
    </h1>
    <div class="event-url">
    <h4>
      https://doodle.com/create
    </h4>
  </div>
</section>

<!-- event form, users can select options -->
    <form class="options-form" action="/create/details" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">1st option</th>
            <th scope="col">2nd option</th>
            <th scope="col">3rd option</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">user1</th>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
          </tr>
          <tr>
            <th scope="row">user2</th>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
          </tr>
          <tr>
            <th scope="row">user3</th>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
            <td><div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
            </div></td>
          </tr>
        </tbody>
      </table>
    </form>
          <section>
            <%- include("partials/_add_attendee") %>
          </section>
  </body>
</html>
