<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>Home Page</title>
  </head>

  <body>
    <!-- nav bar -->
    <header>
      <%- include("partials/_header") %>
    </header>
    <!-- main page content -->
    <section class="main">
      <h1>
        Easily coordinate events and meetings for a time that works for
        everyone! Blah Blah
      </h1>
      <div class="main-button">
        <form action="/new-event" method="GET">
        <button type="submit" id="home-button" class="btn btn-outline-warning">
          Create Schoodle
        </button>
      </form>
      </div>
    </section>
  </body>
</html>
