.add-attendee {
  padding-left: 2em;
  width: 70%;
  margin-right: auto;
  margin-left: auto;


  .new-name, .new-email {
    padding: 0.5em;
  }

  .form-check {
   padding-bottom: 1em;
   margin-left: 1em;
  }
}

 .checkbox-div {
 color: $darkerblue;
 background-color: $darkerblue;
 display: flex;
 width: 60%;

  .checkbox-element {
    color: $text;
  }
 }

 .add-button {
   margin-bottom: 1em;
 }

 .add-header {
   text-align: center;
 }

 #add-user {
   margin-left: auto;
   margin-right: auto;
 }

 .end-check {
   margin-top: 0.5em;
 }
