.add-attendee {
  padding-left: 2em;

  .new-name, .new-email {
    padding: 0.5em;
    margin-right: 15em;
  }

  .form-check {
   margin-left: 1.5em;
   padding-bottom: 1em;
  }

  .add-button {
    margin-left: 0.5em;
    margin-bottom: 1em;

    button {
      border: none;
      background-color: #e29e21;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-weight: bold;
    }
  }
}
