
.dates-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 1em;
}
.options {
  float: right;
  .options-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    border: solid;
    margin-left: 1em;
    margin-right: 10em;
    width: 10em;
    height: 30em;
    margin-bottom: 1em;
    margin-top: 1em;

    .option {
      border: solid;
      width: 90%;
      margin-top: .45em;
      display: flex;
      flex-direction: column;
      align-items: center;

      .option-title {
        background-color: $nav-bg-color;
        color: white;
        display: flex;
        align-content: center;
        justify-content: center;
        width: 100%;
      }
      .arrow {
        margin-bottom: .45em;
      }

      .option-date {
        font-weight: 600;
      }
    }
  }
  .add-date-button {
    border: none;
    background-color: #e29e21;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    margin-bottom: 5em;
    margin-left: 1.7em;
  }
}

.start-calendars {
  background: #b1dbc786;
  border: solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
  margin-right: 40%;
  margin-left: 20%;
  margin-top: 2em;
  text-align: center;

  .start-date, .start-time {
    padding: 0.5em;
    border: none;
    margin-bottom: 1em;
  }
}

.end-calendars {
  background: #dbbbb186;
  border: solid;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 1em;
  margin-right: 40%;
  margin-left: 20%;
  margin-top: 2em;
  text-align: center;

  .end-date, .end-time {
    padding: 0.5em;
    border: none;
    margin-bottom: 1em;
  }
}
