.options-container {
  border: solid;
  padding: 5em;
  margin-left: 1em;
  margin-right: 5em;
  width: 10em;
  height: 30em;
  float: right;


}

.add-date-button {
  border: none;
  background-color: #e29e21;
  padding: 0.5em;
}
