.dates-title {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  margin: 2em;
  padding: 1em;
  border: solid #ffffff88;
  color: $text;

  .fa {
    margin: 1%;
  }
}
#events-and-options {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

  .options-with-button {
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;

    .send-dates-button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 1em;
      float: right;
      border-radius: 5px;
      background-color: $text;
      margin-right: 10em;

    }
    .send-dates-button:hover {
      transform: scale(1.15,1.15);
      animation: jiggle 0.5s infinite linear;
    }

    .options-container {
      display: flex;
      align-items: center;
      border: solid;
      width: 20em;
      min-height: 28em;
      justify-content: center;
      flex-direction: column;
      background-color: $text;
      margin-right: 10em;

      .event-option {
        border: solid;
        width: 90%;
        margin-top: 0.45em;
        margin-bottom: 0.45em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background-color: $text;

        .option-title {
          background-color: $darkerblue;
          color: $text;
          display: flex;
          align-content: center;
          justify-content: center;
          width: 100%;
          font-family: 'Source Sans Pro', sans-serif;
        }
        .arrow {
          margin-bottom: 0.45em;
        }
        .option-date {
          font-weight: 600;
        }
      }
    }
  }
}

.calendars {
  display: flex;
  .start-calendars {
    background: $lightpink;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1em;
    padding-right: 5em;
    padding-left: 5em;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 10em;

    .start-date, .start-time {
      padding: 0.5em;
      border: none;
      margin-bottom: 1em;
    }
  }

  .end-calendars {
    background: $lightpurple;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1em;
    padding-right: 5em;
    padding-left: 5em;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 10em;

    .end-date, .end-time {
      padding: 0.5em;
      border: none;
      margin-bottom: 1em;
    }
  }
  .end-date-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    margin-top: 0.2em;
    float: right;
    border-radius: 5px;
    background-color: $text;
  }
  .end-date-button:hover {
    transform: scale(1.15,1.15);
    animation: jiggle 0.5s infinite linear;
  }
}
