.table {
  font-family: 'Source Sans Pro', sans-serif;
  color: $text;
  border: solid;
}
.form-check-label {
  font-family: 'Source Sans Pro', sans-serif;
  color: $text;
}

#app {
  text-align: center;
}
.url-container {
  margin: 1em;
}

.options-form {
  margin: 2em;
  border: solid 1px;
}
