.table {
  font-family: 'Source Sans Pro', sans-serif;
  color: $darkerblue;
  border: solid;
  width: 90%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: $text;
}
.form-check-label {
  font-family: 'Source Sans Pro', sans-serif;
  color: $text;
}

#app {
  text-align: center;
}
.url-container {
  margin: 1em;
}

.options-form {
  margin: 2em;
  border: solid 1px;
}

.add-header {
  color: $text;
}
