.events-url {
  text-align: center;
  .event-url {
    border: solid #4e4c4cd2;
    background-color: #f3f1ec;
    padding: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
  }
}

.options-form {
  margin: 2em;
  border: solid 1px;
}
