// navbar
$nav-color: #FFFF;
$nav-bg-color: #0e476d;
$logo-font-size: 3em;

$darkpurple: #360568;
$lighterpurple: #5B2A86;
$lightblue: #7785AC;
$darkblue: #1B2845;
$lightgreen: #A5E6BA;

$font-family: 'Source Sans Pro', sans-serif;
