// navbar
$nav-color: #3B60E4;
$nav-bg-color: #080708;
$logo-font-size: 3em;



$colourdarkpurple: #360588;
$colourlighterpurple: #5B2A86;
$colourlightbluepurple: #7785AC;
$colourlightblue: #9AC6C5;
$colourgreenblue: #A5E6C5;
$colouryellow: #F8C537;
