 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    background-color: $nav-bg-color;
    color: $nav-color;

  .logo {
    max-width: 30%;
    height: auto;
    color: #ced9df;
    text-decoration: none;
  }
}

// media queries for Desktop

@media only screen and (min-width: 1024px) {
  .nav-button {
    border: none;
    background-color: #e29e21;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
  }
}
@media only screen and (max-width: 1023px) {
  .nav-button {
    display: none;
  }
}

