.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  margin: 3em;
  color: #ffffffc0;

  .title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-top: 1em;
    text-align: center;
  }
  .event-form {
    padding: 3em;
    width: 60%;
    font-family: 'Source Sans Pro', sans-serif;

    .form-control {
      border: solid #ffffff88;
      border-width: 0px 0px 3px 0px;
      background: transparent;
      border-radius: 0;
      box-shadow: none;
      color: $text;
    }
    .form-group {
      display: flex;
      flex-direction: row;
    }
    .fa {
      margin: 0.5em;
    }
  }

  .next-button {
    text-align: right;
    padding-top: 1em;

    // button {
    //   border: none;
    //   padding-left: 1em;
    //   padding-right: 1em;
    //   padding-top: 0.5em;
    //   padding-bottom: 0.5em;
    //   font-weight: bold;
    // }
  }
}




