section {

  .title {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-top: 1em;
  }

  .event-form {
    padding: 3em;
  }

  .next-button {
    text-align: right;
    padding-top: 1em;
    button {
      border: none;
      background-color: #e29e21;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-weight: bold;
    }
  }
}




