#app {
 display: flex;
 justify-content: center;
 .url-container {
   width: 80%;
   display: flex;
  justify-content: space-around;
  #url-copybtn {
  height: 3.4em;
  width: 30em;
  display: flex;
  font-weight: 700;
  }
 }
}
